<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Global Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <div id="app">
      <section class="section">
        <div class="container has-text-centered">
          <h1 class="title">
            Global Chat
          </h1>
          <p class="subtitle">
            Because talking to total strangers is a <strong>good</strong> idea!
          </p>
        </div>
      </section>
      
      <section class="section" v-if="username === ''">
        <div class="container">
          <div class="field">
              <label class="label">Username</label>
              <div class="control">
                  <input 
                  v-model="unsavedUsername"
                  v-on:keyup.enter="saveUsername"
                  class="input is-large" type="text" placeholder="Enter your username">
              </div>
              <p class="help">Press enter to begin your session</p>
            </div>
        </div>
      </section>

      <div v-else>
        <section class="section">
          <div class="container">
            <div class="box main-chat-window" id="chatWindow">
              <div class="notification" v-bind:class="{'is-primary':  messageObject.username === username}" v-for="messageObject in messages">
                <p><strong>{{messageObject.username}}</strong></p>
                {{messageObject.message}}
              </div>
            </div>

            <div>
              <p class="subtitle">
                You are sending your message as, {{username}}
              </p>
              <input 
                v-model="newMessage"
                v-on:keyup.enter="enterNewMessage"
                class="input is-large" type="text" v-bind:placeholder="username + ' says...'">
              <a class="button is-small" v-on:click="restartSession">Restart session</a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
    <script src="firebase-config.js"></script>

    <script src="main.js"></script>
  </body>
</html>